body{
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	font-weight: 400;
	background-color: #d4ece7;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
	display: block;
	object-fit: contain;
}